body{
    background-image: url(tetrad%201.jpg);
    background-repeat:repeat;
    background-size:30%;
    
}
#u{
    text-transform: uppercase;
}

#di{
transform: rotate(180deg);
    writing-mode:tb-rl;
    width: 10px;
    height:100px;
    
}
#ff{
    transform: rotate(90deg);
    writing-mode:tb-rl;
    text-align:center;
    
}
#rh{
   margin-top: 60px;
}
#rr{
    margin-bottom: 60px;
}
<!-- доделать дорисовать менделеева и на гитхаб --!>